/*header_mobile.css*/

/**************** 토글메뉴 구현 ************/
label.toggle{
	width: 24px; height: 24px;
	position: fixed;
	right: 10px; top: 14px;
	margin-left:-15px;
	z-index: 200;
	background: url(../images/m_menu.png);
}

input#toggle + #wrap #main_nav{
	position:fixed;
	overflow:hidden;
	left: 0; top: 0;
	width: 100%;
	height: 0;
	background: #000;
	color: #fff;
}

input#toggle:checked + #wrap .toggle{
	background-image: url(../images/cancel.png);
	transition-duration: 0.3s;
}

input#toggle:checked + #wrap #main_nav{
	height: 100%;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

/**************** 토글 창 ************/

#main_nav > li{
	line-height: 60px;
	width: 90%;
	margin: 0 auto;
	font-size: 30px;
	text-align: center;
}

#main_nav > li:first-of-type{
	margin-top: 50%;
}

@media screen and (min-width: 1023px) and (max-width: 1367px){
#main_nav > li:first-of-type{
	margin-top: 25%;
}
}

#main_nav > li > span{
	padding-right: 20px;
	font-size: 20px;
}

#main_nav > li > a{
	display: inline;
	color:#fff;
}

#main_nav > div{
	display: none;
}

